section.top_header {
    background-color: 	#018749;
    color: 	#FFFF00;
    height: 40px;
    font-size: 14px;
  }
  
  section.top_header .socials i {
    margin: 0px 2px;
    cursor: pointer;
  }
  
  section.top_header .contact .number_wrapper {
    padding-right: 15px;
  }
  
  section.top_header .contact * {
    letter-spacing: 0.5px;
  }

  section.top_header_another{
    background-color: 	#ffffff;
    height: 70px;
    font-size: 14px;
  }

  /* info_overview start */

  section.info_overview {
    background-color: #FFE4E1;
    text-align: center;
    padding-bottom: 30px;
}

section.info_overview img {
  padding-bottom: 11%;
}

section.info_overview .get_email_wrapper input {
  outline: none;
  padding: 5px 20px;
  border-radius: 25px;
  border: 2.5px solid #37804e;
}

section.info_overview .get_email_wrapper button {
  width: 85px;
  border-radius: 25px;
  border: 2.5px solid #37804e;
}

 /* info_overview end */

 /* Community Sign Up end */
 /* Community Sign Up end */
